<ion-view view-title="<img class='mibus-title' src='design/img/mibus-title.png'>">
  <button class="button icon ion-map map-button" ng-click="openModal()"></button>

  <ion-content>
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Type the street name here" ng-model="searchData.searchText" ng-change="getRoutes(searchData.searchText)" ng-model-options="{ debounce: 400 }">
      </label>

      <ion-spinner class="searching-spinner" ng-if="isSearching"></ion-spinner>

      <ion-item class="item-icon-left" ng-if="!isSearching" ng-repeat="route in routes" ng-click="goToDetails(route)">
        <i class="icon ion-android-bus"></i>
        {{route.shortName}}
        -
        {{route.longName}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
