$mibus-color-primary: #fff;
$mibus-color-secondary: #0FBAB3;
$mibus-color-tertiary: #6FC6AE;


.mibus-color-primary{
  color: $mibus-color-primary;
}

.mibus-color-secondary{
  color: $mibus-color-secondary;
}
