ion-nav-bar &.bar-mibus {
  background-color: $mibus-color-secondary;
  color: $mibus-color-primary;
}
.bar &.bar-header &.bar-mibus {
  background-color: $mibus-color-secondary !important;
  color: $mibus-color-primary !important;
}
