<ion-view title="{{selectedRoute.longName}}">

  <ion-nav-buttons side="left">
    <button class="button button-clear header-item" ng-click="goBack()">
      <i class="icon ion-android-arrow-back" ng-if="isAndroid"></i>
      <i class="icon ion-ios-arrow-back" ng-if="isIOS">
        Back</i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Weekdays
      </div>
      <div class="item item-text-wrap">
        <div class="row wrapping-grid">
          <div class="col col-25" ng-repeat="routeDeparture in routeDepartures" ng-click="" ng-if="routeDeparture.calendar == 'WEEKDAY'">
            <div class="departure-block">
              {{routeDeparture.time}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Saturday
      </div>
      <div class="item item-text-wrap">
        <div class="row wrapping-grid">
          <div class="col col-25" ng-repeat="routeDeparture in routeDepartures" ng-click="" ng-if="routeDeparture.calendar == 'SATURDAY'">
            <div class="departure-block">
              {{routeDeparture.time}}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="item item-divider">
        Sunday
      </div>
      <div class="item item-text-wrap">
        <div class="row wrapping-grid">
          <div class="col col-25" ng-repeat="routeDeparture in routeDepartures" ng-click="" ng-if="routeDeparture.calendar == 'SUNDAY'">
            <div class="departure-block">
              {{routeDeparture.time}}
            </div>
          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
