<ion-view title="{{selectedRoute.longName}}">
    <ion-content>
      <div class="item item-divider">
        Weekdays
      </div>
      <ion-list>
        <ion-item ng-repeat="routeDeparture in routeDepartures" ng-click="" ng-if="routeDeparture.calendar == 'WEEKDAY'">
          {{routeDeparture.time}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Saturday
      </div>
      <ion-list>
        <ion-item ng-repeat="routeDeparture in routeDepartures" ng-click="" ng-if="routeDeparture.calendar == 'SATURDAY'">
          {{routeDeparture.time}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Sunday
      </div>
      <ion-list>
        <ion-item ng-repeat="routeDeparture in routeDepartures" ng-click="" ng-if="routeDeparture.calendar == 'SUNDAY'">
          {{routeDeparture.time}}
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
